<div class="usershow_box">

<div class="usershow">
<h2 class="mainarea-title">Profile</h2>

<%= image_tag @user.image if @user.image.attached? %>
<%= @user.username %>
<%= @user.nationality %>
<%= @user.profile %>
<%= link_to "Edit",edit_user_path(current_user) %>

</div>
</div>